html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Tinos', serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*----------------------------------*/
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    height: 100vh;
    background: url("../image/bg.png") no-repeat center/cover;
    position: relative;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

.nav__item a {
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__menu {

}

.nav {
    display: flex;
    align-items: center;
    column-gap: 23px;
}

.nav a {

}

.nav__item img {
    width: 20px;
}

.wrap__menuAndPhone {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.header__phone p {
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.header__phone {
    display: flex;
    flex-direction: column;
    width: 155px;
    border-left: white solid 2px;
    padding-left: 22px;
}

.phone_number {
    display: flex;
}

.header__button {
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    background: #FF7400;
    padding: 14px 18px;
}

.phoneAndBtn {
    display: flex;
    column-gap: 45px;
    align-items: center;
}

.header__main {
    padding-top: 204px;
    padding-left: 175px;
    display: flex;
    flex-direction: column;
}

.main__wrapper {
    display: flex;
    flex-direction: column;
    width: 550px;
    align-items: center;
}

.header__main h2 {
    font-size: 50px;
    line-height: 57px;
    color: #D67E35;
}

.header__main h1 {
    font-size: 80px;
    line-height: 92px;
    color: #D67E35;
}

.header__main p {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.header__main p:before, .header__main p:after {
    content: "";
    display: block;
    width: 61px;
    height: 2px;
    background: #C4C4C4;
}

.header__main p::before {
    margin-right: 10px;
}

.header__main p:after {
    margin-left: 10px;
}

.main__btn {
    padding-top: 21px;
}

.header__down {
    display: flex;
    column-gap: 31px;
    position: absolute;
    bottom: -221px;
    margin-left: 166px;
}

.down__item {
    background-color: #fff;
    width: 349px;
    height: 328px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.down__item img{
   margin-top: 35px;
}
.down__item span{
    color: #bc9060;
}
.down__item h3 {
    font-size: 26px;
    line-height: 30px;
    color: #2C2C2C;

}

.down__item p {
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #656363;
    padding-top: 20px;
}
